body, html {
  margin: 0;
  font-family: "Poppins", sans-serif;
}

body {
  background-image: url(../img/bg.jpg);
  background-repeat: repeat-y;
  background-size: 100% auto;
  height: auto;
  margin: 0 7% 0 7%;
}

h1 {
  text-align: center;
  font-size: 50px;
  font-weight: 900;
  font-family: "Poppins", sans-serif;
  text-transform: capitalize;
  color: white;
}

span {
  display: flex;
  justify-content: center;
  font-size: 12px;
  color: rgba(255, 255, 255, 0.425);
  text-transform: uppercase;
  margin-top: -45px;
}

section {
  background-color: #1E1F23;
  margin: 50px 0 50px 0;
}
section .img {
  background-image: url(../img/pic02.jpg);
  background-size: 100% 100%;
  width: 100%;
  height: 450px;
}
section .text {
  flex: 1;
  background-color: white;
}
section .text h2 {
  text-align: center;
  text-transform: capitalize;
  margin: 0;
  padding: 5% 0 0 0;
}
section .text hr {
  text-align: center;
  border: none;
  border-bottom: 0.8px solid grey;
  width: 10%;
}
section .text p:first-of-type {
  text-align: center;
  text-transform: uppercase;
  font-size: 10px;
  word-spacing: 4px;
  letter-spacing: 2.5px;
  padding: 0 0 5% 0;
  color: #989898;
}
section .text p:last-of-type {
  color: #989898;
  background-color: #F4F4F4;
  padding: 5% 10% 10% 10%;
  font-size: 15px;
}
section .banner2 {
  color: #121315;
}
section .banner2 .text-banner2 {
  background-color: #121315;
  text-align: center;
  text-transform: capitalize;
  margin: 0;
  padding: 5% 0 0 0;
  color: white;
  margin: 8% 8% 0 8%;
}
section .banner2 .text-banner2 hr {
  text-align: center;
  border: none;
  border-bottom: 0.8px solid grey;
  width: 10%;
}
section .banner2 .text-banner2 p:first-of-type {
  text-align: center;
  text-transform: uppercase;
  font-size: 10px;
  word-spacing: 4px;
  letter-spacing: 2.5px;
  padding: 0 0 5% 0;
  margin: 0;
  color: #989898;
}

.row-1 {
  margin: 0 8% 0 8%;
  display: flex;
  flex-direction: row;
}
.row-1 div {
  flex-grow: 1;
}
.row-1 div img {
  width: 100%;
  height: 100%;
}

.row-2 {
  margin: 0 8% 0 8%;
  display: flex;
  flex-direction: row;
}
.row-2 div {
  flex-grow: 1;
}
.row-2 div img {
  width: 100%;
  height: 100%;
}

.banner3 img {
  width: 100%;
}
.banner3 .groupe1 {
  display: flex;
  flex-direction: row;
  margin-top: 5%;
}
.banner3 .groupe1 div:first-of-type {
  width: 50%;
}
.banner3 .groupe1 .text2 {
  width: 50%;
  background-color: #F6F6F5;
}
.banner3 .groupe1 .text2 h2 {
  width: 70%;
  padding: 15% 15% 0 15%;
}
.banner3 .groupe1 .text2 p {
  width: 70%;
  padding: 0 15% 0 15%;
  color: #989898;
}
.banner3 .groupe2 {
  display: flex;
  flex-direction: row;
}
.banner3 .groupe2 .text3 {
  background-color: #1E1F23;
  width: 50%;
  font-size: 15px;
}
.banner3 .groupe2 .text3 h2 {
  color: white;
  width: 70%;
  padding: 15% 15% 0 15%;
  text-align: end;
}
.banner3 .groupe2 .text3 p {
  width: 70%;
  padding: 0 15% 0 15%;
  text-align: end;
  color: #989898;
}
.banner3 .groupe2 div:last-of-type {
  width: 50%;
}

/*# sourceMappingURL=style.css.map */
